header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-self: start;
  padding: var(--spacing-xl) var(--spacing-sm) 0;

}

.header-nav {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0 var(--spacing-sm);
  padding: .625rem 1.875rem;
  background-color: var(--color-dark-06);
  border-radius: .625rem;
  border: .1875rem solid var(--color-dark-10);
}

.nav-link {
  color: var(--color-gray-75);
}

.active-page {
  padding: .875rem var(--spacing-md);
  background-color: var(--color-dark-10);
  color: var(--color-absolute-white);
  border-radius: var(--spacing-xs);
}

.header-btn {
  display: flex;
  flex-direction: row;
  gap: .875rem;
  justify-self: end;
}

.header-btn input {
  align-self: center;
}

.header-btn button {
  flex: 0 0 auto;
}

.header-btn img {
  width: 1.125rem;
}

@media (max-width: 640px) {
  .isActive {
    display: none;
  }
}

@media (min-width: 1024px) {
  header {
    padding: var(--spacing-xl) 5rem 0;
  }

  .header-nav {
    justify-self: center;
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 1280px) {
  header {
    padding: var(--spacing-xl) 10rem 0;
  }
  .header-nav {
    gap: 0 1.875rem;
    font-size: 1.125rem;
  }

  .header-btn {
    gap: 1.875rem;
  }
}