#mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--color-dark-06);
  padding: var(--spacing-xs) var(--spacing-xxl) var(--spacing-lg);
  margin-left: -1rem;

  display: flex;
  justify-content: space-between;
}

@media (min-width: 640px) {
  #mobile-nav {
    display: none;
  }
}