.search-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 333;
  width: 100%;
  padding: var(--spacing-md);
  margin-top: var(--spacing-xs);
  border-radius: .375rem;
  border: .0625rem solid var(--color-dark-15);
  background: var(--color-dark-06);
}

.search-results {
  display: flex;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  border-radius: .375rem;
  border: .0625rem solid var(--color-dark-15);
} 

.open {
  display: block;
}

input {
  display: none;
  color: var(--color-absolute-white);
  border: .0625rem solid var(--color-dark-15);
  border-radius: .625rem;
  padding: .625rem;
  /* margin-bottom: 1.25rem; */
}

.result-img {
  width: 100px;
  aspect-ratio: 1 / 1; 
  overflow: hidden;
}

.result-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  display: block; 
  border-radius: .375rem;
}

/* media queries */

@media (max-width: 640px) {

}

@media (min-width: 1024px) {
  .search-container {
    top: 100%;
  }
}

@media (min-width: 1280px) {

}