#main-page {
  margin-bottom: 5rem;
} 

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.25rem;
}

.hero-logo-container {
  position: relative;
}

.hero-logo {
  margin-top: 3.125rem;
}

.hero-logo-btn {
  position: absolute;
  top: 50%;
  left: 42%;
}

.hero h1 {
  text-align: center;
  font-size: 1.75rem;
  margin: 3.125rem 0 0.625rem;
}

.hero p {
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-60);
  margin-bottom: 1.875rem;
  
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);
  background-color: var(--color-primary-45);
  padding: 0.875rem var(--spacing-md);
  border-radius: var(--spacing-xs);
  font-size: var(--font-size-sm );
}

.genre-section {
  margin-bottom: 3.125rem;
}

.genre-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--spacing-xl);
}

.genre-header h2 {
  margin-bottom: var(--spacing-xs);
}

.genre-header p {
  margin-bottom: var(--spacing-xs);
}

.genre-btns {
  width: 12.5rem;
  padding: .875rem var(--spacing-md);
  display: flex;
  justify-content: center;
  align-self: flex-start;
  gap: var(--spacing-md);
  background-color: var(--color-dark-06);
  border-radius: .75rem;
  border: .0625rem solid var(--color-dark-20);
}

.genre-btn-bgc {
  background-color: var(--color-dark-10);
  padding: .875rem;
}

.genre-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-md);
}

.genre-list a {
  background-color: var(--color-dark-10);
  padding: var(--spacing-md);
  border-radius: .625rem;
  border: .0625rem solid var(--color-dark-15)
}

.genre-img-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-xs);
  aspect-ratio: 1 / 1;  
  overflow: hidden;               
  place-items: stretch;     
  place-content: stretch;
  margin-bottom: var(--spacing-md);
}

.genre-img-list img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;   
  border-radius: .625rem;
}

.genre-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: var(--font-size-sm);
}

/* media queries */

@media (min-width: 640px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: var(--font-size-md);
  }
}

@media (min-width: 1024px) {
  #main-page {
    margin-bottom: 7.5rem;
  } 

  .hero {
    margin-bottom: 9.375rem;
  }

  .hero h1 {
    font-size: var(--font-size-3xl);
  }

  .hero-logo {
    width: 18.75rem;
    height: 18.75rem
  }
  .hero-logo-btn {
    width: 4rem;
    height: 4.375rem;
    top: 48%;
  }

  .genre-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .genre-btns {
    margin: 0;
  }

  .genre-list {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-md);
  }
}

@media (min-width: 1280px) {
  #main-page {
    margin-bottom: 9.375rem;
  } 

  .hero {
    margin-bottom: 12.5rem;
  }
  
  .hero h1 {
    font-size: 3.625rem;
  }

  .hero p {
    font-size: 1.125rem;
  }
  .hero-logo {
    width: 29.375rem;
    height: 29.375rem
  }
  .hero-logo-btn {
    width: 6.375rem;
    height: 6.8125rem;
    top: 45%;
  }

  .hero-btn-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}