.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-logo-container {
  position: relative;
}

.hero-logo {
  margin-top: 3.125rem;
}

.hero-logo-btn {
  position: absolute;
  top: 50%;
  left: 42%;
}

.hero h1 {
  text-align: center;
  font-size: 1.75rem;
  margin: 3.125rem 0 0.625rem;
}

.hero p {
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-60);
  margin-bottom: 1.875rem;
  
}

.hero-btn {
  display: flex;
  gap: var(--spacing-xs);
  background-color: var(--color-primary-45);
  padding: 0.875rem var(--spacing-md);
  border-radius: var(--spacing-xs);
  font-size: var(--font-size-sm );
}

@media (min-width: 640px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: var(--font-size-md);
  }
}

@media (min-width: 1024px) {
  .hero h1 {
    font-size: var(--font-size-3xl);
  }

  .hero-logo {
    width: 18.75rem;
    height: 18.75rem
  }
  .hero-logo-btn {
    width: 4rem;
    height: 4.375rem;
    top: 48%;

  }
}

@media (min-width: 1280px) {
  .hero h1 {
    font-size: 3.625rem;
  }

  .hero p {
    font-size: 1.125rem;
  }
  .hero-logo {
    width: 29.375rem;
    height: 29.375rem
  }
  .hero-logo-btn {
    width: 6.375rem;
    height: 6.8125rem;
    top: 45%;
  }

  .hero-btn-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}