.popular-movie-container {
  width: 100%;   
  aspect-ratio: 1 / 1.5;   
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .75rem;
  border: .0625rem solid var(--color-dark-15);
  padding: var(--spacing-xl) var(--spacing-xl) var(--spacing-sm);
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.popular-movie-container h2 {
  text-align: center;
}

.popular-movie-container p {
  display: none;
}

.popular-movie-btn {
  display: flex;
  flex-direction: column;
}

.popular-movie-btn button {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);
  width: 100%;
  color: var(--color-absolute-white);
  background: var(--color-primary-45);
  padding: .875rem 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: var(--spacing-xs);
}

.popular-movie-img-btn {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);
}

.popular-movie-img-btn div {
  background: var(--color-dark-06);
  border-radius: var(--spacing-xs);
  border: .0625rem solid var(--color-dark-15);
  padding: .75rem;
}

.popular-movie-img-btn img {
  flex-shrink: 0;
}

.popular-movie-carusel {
  display: flex;
  justify-content: space-between;
}

.popular-movie-carusel button {
  margin-top: 1.25rem;
  padding: .75rem;
  background: var(--color-dark-06);
  border: .0625rem solid var(--color-dark-15);
  border-radius: var(--spacing-xs);
}

.movies-section {
  margin-bottom: 100px;
  position: relative;
}

.movies-section::after {
  content: '';
}

.movies-section-switcher {
  display: flex;
  padding: var(--spacing-xs);
  background: var(--color-dark-06);
  border-radius: var(--spacing-xs);
  border: .0625rem solid var(--color-dark-15);
  margin-bottom: 1.35rem;
}

.movies-section-switcher button {
  flex-grow: 1;
  color: var(--color-gray-60);
  padding: .75rem 1.25rem;
}

.movies-section-switcher button.active-genre-btn {
  background: var(--color-dark-12);
  color: var(--color-absolute-white);
  border-radius: .375rem;
}

.genres-list {
  margin-bottom: 2rem;
}

.genre-list-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.genre-list-btn button {
  margin-top: 1.25rem;
  padding: .75rem;
  background: var(--color-dark-06);
  border: .0625rem solid var(--color-dark-15);
  border-radius: var(--spacing-xs);
}

.genre-list-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.genre-heading {
  display: flex;
  flex-direction: column;
}

.genre-list-card a {
  background-color: var(--color-dark-10);
  padding: var(--spacing-md);
  border-radius: .625rem;
  border: .0625rem solid var(--color-dark-15)
}

.genre-list-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-xs);
  aspect-ratio: 1 / 1;  
  overflow: hidden;               
  place-items: stretch;     
  place-content: stretch;
  margin-bottom: var(--spacing-md);
}

.genre-list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;   
  border-radius: .625rem;
}

.genre-title {
  display: flex;
  justify-content: space-between;
}

.rated-list-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.rated-list-card a {
  background-color: var(--color-dark-10);
  padding: var(--spacing-md);
  border-radius: .625rem;
  border: .0625rem solid var(--color-dark-15)
}

.rated-list-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-xs);
  aspect-ratio: 1 / 1;  
  overflow: hidden;               
  place-items: stretch;     
  place-content: stretch;
  margin-bottom: var(--spacing-md);
}

.rated-list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;   
  border-radius: .625rem;
}

.rated-title {
  display: flex;
  justify-content: space-between;
}

.rated-title-cont {
  display: flex;
  flex-direction: column;
}

.rated-title-cont span:first-child {
  width: fit-content;
  font-size: .75rem;
  font-weight: 500;
  background: var(--color-primary-45);
  padding: var(--spacing-xs);
  border-radius: var(--spacing-xs);
}

@media (min-width: 1024px) {
  .popular-movie-container {
    height: 100%;
    aspect-ratio: 16 / 9;
  }

  .popular-movie-container p {
    display: block;
    text-align: center;
  }

  .popular-movie-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin-top: var(--spacing-md);
  }

  .popular-movie-btn button {
    width: fit-content;
    margin-bottom: 0;
  }

  .movies-section {
    border: .0625rem solid var(--color-dark-15);
    padding: 2.5rem;
  }

  .movies-section::after {
    content: 'Movies';
    position: absolute;
    top: -1.25rem;
    background: var(--color-primary-45);
    padding: var(--spacing-xs) 1.25rem;
    border-radius: var(--spacing-xs);
  }
  
  .movies-section-switcher {
    display: none;
  }

  .genre-list-card {
    grid-template-columns: repeat(5, 1fr);
  }

  .genre-heading {
    flex-direction: row;
    justify-content: space-between;
  }

  .genre-list-btn {
    align-self: center;
  }

  .rated-list-card {
    grid-template-columns: repeat(4, 1fr);
  }
}