.popular-movie-container {
  width: 100%;   
  aspect-ratio: 1 / 1.5;   
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .75rem;
  border: .0625rem solid var(--color-dark-15);
  padding: var(--spacing-xl) var(--spacing-xl) var(--spacing-sm);
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.popular-movie-container h2 {
  text-align: center;
}

.popular-movie-container p {
  display: none;
}

.popular-movie-btn {
  display: flex;
  flex-direction: column;
}

.popular-movie-btn button {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);
  width: 100%;
  color: var(--color-absolute-white);
  background: var(--color-primary-45);
  padding: .875rem 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: var(--spacing-xs);
}

.popular-movie-img-btn {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);
}

.popular-movie-img-btn div {
  background: var(--color-dark-06);
  border-radius: var(--spacing-xs);
  border: .0625rem solid var(--color-dark-15);
  padding: .75rem;
}

.popular-movie-img-btn img {
  flex-shrink: 0;
}

.popular-movie-carusel {
  display: flex;
  justify-content: space-between;
}

.popular-movie-carusel button {
  margin-top: 1.25rem;
  padding: .75rem;
  background: var(--color-dark-06);
  border: .0625rem solid var(--color-dark-15);
  border-radius: var(--spacing-xs);
}

.movies-section {
  margin-bottom: 100px;
  position: relative;
}

.movies-section::after {
  content: '';
}

.movies-section-switcher {
  display: flex;
  padding: var(--spacing-xs);
  background: var(--color-dark-06);
  border-radius: var(--spacing-xs);
  border: .0625rem solid var(--color-dark-15);
  margin-bottom: 1.35rem;
}

.movies-section-switcher button {
  flex-grow: 1;
  color: var(--color-gray-60);
  padding: .75rem 1.25rem;
}

.movies-section-switcher button.active-genre-btn {
  background: var(--color-dark-12);
  color: var(--color-absolute-white);
  border-radius: .375rem;
}

.genres-list {
  margin-bottom: 2rem;
}

.genre-list-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.genre-list-btn button {
  margin-top: 1.25rem;
  padding: .75rem;
  background: var(--color-dark-06);
  border: .0625rem solid var(--color-dark-15);
  border-radius: var(--spacing-xs);
}

.genre-list-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.genre-heading {
  display: flex;
  flex-direction: column;
}

.genre-list-card a {
  background-color: var(--color-dark-10);
  padding: var(--spacing-md);
  border-radius: .625rem;
  border: .0625rem solid var(--color-dark-15)
}

.genre-list-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-xs);
  aspect-ratio: 1 / 1;  
  overflow: hidden;               
  place-items: stretch;     
  place-content: stretch;
  margin-bottom: var(--spacing-md);
}

.genre-list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;   
  border-radius: .625rem;
}

.genre-title {
  display: flex;
  justify-content: space-between;
}

.rated-list-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.rated-list-card a {
  background-color: var(--color-dark-10);
  padding: var(--spacing-md);
  border-radius: .625rem;
  border: .0625rem solid var(--color-dark-15)
}

.rated-list-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-xs);
  aspect-ratio: 1 / 1;  
  overflow: hidden;               
  place-items: stretch;     
  place-content: stretch;
  margin-bottom: var(--spacing-md);
}

.rated-list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;   
  border-radius: .625rem;
}

.rated-title {
  display: flex;
  justify-content: space-between;
}

.rated-title-cont {
  display: flex;
  flex-direction: column;
}

.rated-title-cont span:first-child {
  width: fit-content;
  font-size: .75rem;
  font-weight: 500;
  background: var(--color-primary-45);
  padding: var(--spacing-xs);
  border-radius: var(--spacing-xs);
}

.tranding-list-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-sm);
  margin-bottom: 2rem;
}

.tranding-list-card a {
  background-color: var(--color-dark-10);
  padding: var(--spacing-md);
  border-radius: .625rem;
  border: .0625rem solid var(--color-dark-15)
}

.tranding-poster {
  overflow: hidden;               
  place-items: stretch;     
  place-content: stretch;
}

.tranding-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;   
  border-radius: .625rem;
}

.tranding-header {
  margin-top: .75rem;
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
}

.tranding-header span:first-child {
  align-self: center;
}

.tranding-header div {
  flex: 0 0 auto;
  display: flex;
  gap: .3125rem;
  color: var(--color-gray-60);
  background: var(--color-dark-08);
  padding: .25rem var(--spacing-xs) .25rem .25rem;
  border-radius: 3.1875rem;
  border: .0625rem solid var(--color-dark-15);
}

.tranding-header div img {
  flex: 0 0 auto;
  align-self: center;
}

.tranding-header div span {
  align-self: center;
}

.upcoming-list-card {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-sm);
  margin-bottom: 2rem;
}

.upcoming-list-card a {
  background-color: var(--color-dark-10);
  padding: var(--spacing-sm);
  border-radius: .625rem;
  border: .0625rem solid var(--color-dark-15)
}

.upcoming-poster {
  overflow: hidden;               
  place-items: stretch;     
  place-content: stretch;
  margin-bottom: .75rem;
}

.upcoming-poster img {
  aspect-ratio: 3 / 4;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;   
  border-radius: .625rem;
}

.upcoming-title {
  display: flex;
  justify-content: center;
  color: var(--color-gray-60);
  background: var(--color-dark-08);
  padding: .25rem var(--spacing-xs) .25rem .25rem;
  border-radius: 3.1875rem;
  border: .0625rem solid var(--color-dark-15);
  font-size: .75rem;
}

.upcoming-title span {
  flex: 0 0 auto;
}

.upcoming-title span:nth-child(2) {
  color: var(--color-gray-75);
}

.must-watch-list-card {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-sm);
  margin-bottom: 2rem;
}

.must-watch-list-card a {
  background-color: var(--color-dark-10);
  padding: var(--spacing-sm);
  border-radius: .625rem;
  border: .0625rem solid var(--color-dark-15)
}

.must-watch-title {
  margin-top: var(--spacing-sm);
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
}

.movie-runtime {
  display: inline-flex;
  gap: .25rem;
  align-items: center;
  flex: 0 0 auto;
  background: var(--color-dark-08);
  padding: .375rem .625rem .375rem .375rem;
  border-radius: 3.1875rem;
  border: .0625rem solid var(--color-dark-15);
}

.must-watch-title div:first-child {
  display: flex;
}

.must-watch-title span {
  color: var(--color-gray-60);
}

.movie-rating {
  display: inline-flex;
  gap: .25rem;
  align-items: center;
  flex: 0 0 auto;
  background: var(--color-dark-08);
  padding: .375rem .625rem .375rem .375rem;
  border-radius: 3.1875rem;
  border: .0625rem solid var(--color-dark-15);
}

.stars-rating {
  position: relative;
  width: 70px;
  height: 16px;
  background: url("/assets/icons/starIcon.svg") repeat-x;
  background-size: 14px 14px;
}

.stars-rating::after {
  content: "";
  position: absolute;
  inset: 0;
  width: var(--fill, 0%);
  height: 16px;
  background: url("/assets/icons/starIconFilled.svg") repeat-x;
  background-size: 14px 14px;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .popular-movie-container {
    height: 100%;
    aspect-ratio: 16 / 9;
  }

  .popular-movie-container p {
    display: block;
    text-align: center;
  }

  .popular-movie-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin-top: var(--spacing-md);
  }

  .popular-movie-btn button {
    width: fit-content;
    margin-bottom: 0;
  }

  .movies-section {
    border: .0625rem solid var(--color-dark-15);
    padding: 2.5rem;
  }

  .movies-section::after {
    content: 'Movies';
    position: absolute;
    top: -1.25rem;
    background: var(--color-primary-45);
    padding: var(--spacing-xs) 1.25rem;
    border-radius: var(--spacing-xs);
  }
  
  .movies-section-switcher {
    display: none;
  }

  .genre-list-card {
    grid-template-columns: repeat(5, 1fr);
  }

  .genre-heading {
    flex-direction: row;
    justify-content: space-between;
  }

  .genre-list-btn {
    align-self: center;
  }

  .rated-list-card {
    grid-template-columns: repeat(4, 1fr);
  }

  .tranding-list-card {
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem;
  }

  .tranding-header {
    margin-top: var(--spacing-sm);
  }

  .upcoming-list-card {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem;
  }

  .upcoming-poster {
    margin-bottom: var(--spacing-md);
  }  

  .must-watch-list-card {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .must-watch-title {
    font-size: var(--font-size-base);
  }

  .tranding-header {
    font-size: var(--sont-size-base);
  }
}