 *, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


input, button, textarea, select {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none; 
  color: inherit;      
  cursor: pointer;   
}

ul, li, li {
  list-style: none;
}